name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04, ubuntu-24.04-arm, ubuntu-22.04-arm]
        include:
          - os: ubuntu-latest
            container: ubuntu:24.04
          - os: ubuntu-latest
            container: ubuntu:22.04
          - os: ubuntu-latest
            container: ubuntu:20.04
          - os: ubuntu-latest
            container: debian:bookworm
          - os: ubuntu-latest
            container: debian:bullseye
          - os: ubuntu-24.04-arm
            container: ubuntu:24.04
          - os: ubuntu-24.04-arm
            container: ubuntu:22.04
          - os: ubuntu-24.04-arm
            container: ubuntu:20.04
          - os: ubuntu-24.04-arm
            container: debian:bookworm
          - os: ubuntu-24.04-arm
            container: debian:bullseye
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Add a repository
        uses: ./
        with:
          uri: https://apt.repos.intel.com/oneapi
          key: https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          suite: all
      - name: Install a package
        if: runner.arch != 'ARM64'
        uses: gerlero/apt-install@v1
        with:
          packages: intel-oneapi-mpi-devel
